#root, body, html { 
  margin: 0px;
  background-color: #242424;
}

/* main components animation  */
main {
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInFromLeft .3s ease-out forwards;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vh;
  height: 100vh;
  background-color: #242424;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* bg image  */
.bgImage {
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
